@model KidKinder.Entities.Classroom
@{
    ViewBag.Title = "CreateClassroom";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Eğitim Grubu Girişi</h5>
                                <span> Eğitim Grubu verilerini eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">

                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Eğitim Grubu Adı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Description, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yaş Aralığı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.AgeofKids, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Saat Aralığı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ClassTime, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Kontenjan</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.TotalSeat, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Fiyatı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Price, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Görsel</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
                                        </div>
                                    </div>
                                    <button class="btn btn-primary rounded">Eğitim Grubunu Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">

    </div>
</div>


